/* Estilos Gerais */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Cabeçalho fixo com menu */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #004d40;
    padding: 10px 20px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

header .logo img {
    width: 35px;
}

header nav ul {
    list-style: none;
    display: flex;
    margin: 0;
}

header nav ul li {
    margin-left: 20px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 5px 10px;
}

header nav ul li a:hover {
    background-color: #00695c;
    border-radius: 5px;
}

/* Banner da Home tamanho da imagem home */
.banner {
    position: relative;
    width: 100%;
    height: 700px;
    margin-top: 5px; /* Para compensar o menu fixo */
}

/*dimensoes da img home*/
.banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*configurações do texto do banner*/
.banner-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
}

/* Classe para imagens responsivas */
.img-responsiva {
    width: 10%; /* A imagem ocupará 50% da largura do container */
    height: auto; /* Mantém a proporção da imagem */
}



.banner-text h1 {
    font-size: 3rem;
}

.banner-text p {
    font-size: 1.2rem;
}

.banner button {
    padding: 10px 20px;
    background-color: #004d40;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.banner button:hover {
    background-color: #00695c;
}

/* Seções com conteúdo */
.section-content {
    display: flex;
    align-items: center;
    padding: 50px 20px;
    justify-content: space-between;
}

.section-content img {
    width: 45%;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.section-content div {
    width: 45%;
}

h2 {
    color: #004d40;
}

/* Seção de Contato */
#contato form {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 0 auto;
}

#contato label, #contato input, #contato textarea {
    margin-bottom: 15px;
    font-size: 1rem;
}

#contato button {
    padding: 10px 20px;
    background-color: #004d40;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

#contato button:hover {
    background-color: #00695c;
}

/* Rodapé */
footer {
    background-color: #004d40;
    color: white;
    padding: 20px;
    text-align: center;
}

.whatsapp-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
    width: 60px;
    height: 60px;
}

.whatsapp-button img {
    width: 100%;
    height: auto;
    border-radius: 50%;
}


/* Responsividade */
@media (max-width: 768px) {
    .section-content {
        flex-direction: column;
        text-align: center;
    }

    .section-content img, .section-content div {
        width: 100%;
    }

    #contato form {
        width: 10%;
    }
}
